<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://gracell00l.github.io/prtflo/about/" title="Grace Yixuan Lin 林祎萱"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Grace Yixuan Lin 林祎萱" title="Grace Yixuan Lin 林祎萱" /><span>Grace Yixuan Lin 林祎萱</span></a></li>

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/about/" title="Sugar (Sun Baiqianqian) 孙柏芊芊"><img src="//images.weserv.nl/?url=https://github.com/SunBaiqianqian/SunBaiqianqian-Portfolio/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Sugar (Sun Baiqianqian) 孙柏芊芊" title="Sugar (Sun Baiqianqian) 孙柏芊芊" /><span>Sugar (Sun Baiqianqian) 孙柏芊芊</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/about/" title="Kyle pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Kyle pinyin and Chinese" title="Kyle pinyin and Chinese" /><span>Kyle pinyin and Chinese</span></a></li>

    <li><a href="" title="Zheng Weihan"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Zheng Weihan" title="Zheng Weihan" /><span>Zheng Weihan</span></a></li>

    <li><a href="https://nancyuz.github.io/Nancy/about/" title="Nancy Xiaoyu Zhang 张小雨"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Nancy.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Nancy Xiaoyu Zhang 张小雨" title="Nancy Xiaoyu Zhang 张小雨" /><span>Nancy Xiaoyu Zhang 张小雨</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/about/" title="Shipley Xinyu Wang 王新宇"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Shipley.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Shipley Xinyu Wang 王新宇" title="Shipley Xinyu Wang 王新宇" /><span>Shipley Xinyu Wang 王新宇</span></a></li>

    <li><a href="https://yawenzh.github.io/YZmar/about/" title="Martha Yawen Zheng"><img src="//images.weserv.nl/?url=&w=300&h=300&output=jpg&q=50&fit=cover" alt="Martha (Yawen Zheng)郑雅文" title="Martha pinyin and Chinese" /><span>Martha (Yawen Zheng)郑雅文</span></a></li>

    <li><a href="vickeyxxxx.github.io/portfolio/about/" title="Vickey Siqi Xiong"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="Siqi Xiong 熊思琪" title="Siqi Xiong 熊思琪" /><span>NAME pinyin and Chinese</span></a></li>

<li><a href="vickeyxxxx.github.io/portfolio/about/" title="Vickey Siqi Xiong"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="NAME pinyin and Chinese" title="NAME pinyin and Chinese" /><span>NAME pinyin and Chinese</span></a></li>

   <li><a href="https://wuhaozhuo.github.io/Anita-Haozhuo-Wu/about/" title="Anita (Haozhuo Wu) 吴昊卓"><img src="//images.weserv.nl/?url=https://github.com/WUHAOZHUO/Anita-Haozhuo-Wu/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Anita (Haozhuo Wu) 吴昊卓" title="Anita (Haozhuo Wu) 吴昊卓" /><span>Anita (Haozhuo Wu) 吴昊卓</span></a></li>

<li><a href="https://kikili07.github.io/2021studio5/about/" title="Kiki Studio5"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Kiki.jpg?raw=true" alt="Kiki (Li Yanqi) 李延琪" title="Kiki (Li Yanqi) 李延琪" /><span>Kiki (Li Yanqi) 李延琪</span></a></li>

    <li><a href="https://vvvvvvvink.github.io/prtflio/about/" title="Vink Jiawei Dou"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Vink.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt=" Vink Jiawei Dou 窦嘉玮" title=" Vink Jiawei Dou 窦嘉玮" /><span>Vink Jiawei Dou 窦嘉玮</span></a></li>

  <li><a href="https://jfo2fjsdjf.github.io/lbo/about/" title="Luiz Li Bo"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Luiz.jpg?raw=true" alt="Luiz (Li Bo) 李博" title="Luiz (Li Bo) 李博" /><span>Luiz (Li Bo) 李博</span></a></li>
  
</ul>
