<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/" title="Home of My Ego"><img src="//images.weserv.nl/?url=https://github.com/SunBaiqianqian/SunBaiqianqian-Portfolio/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Home of My Ego" title="Home of My Ego" /><span>Home of My Ego</span></a></li>

    <li><a href="https://gracell00l.github.io/prtflo/" title="Compact Urbanism"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Compact Urbanism" title="Compact Urbanism" /><span>Compact Urbanism</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/" title="Glimmer: Case Study 01"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Glimmer: Case Study 01" title="Glimmer: Case Study 01" /><span>Glimmer: Case Study 01</span></a></li>

    <li><a href="https://bellaaaaaaa216.github.io/Bella216/" title="Air Translater House"><img src="//images.weserv.nl/?url=https://github.com/bellaaaaaaa216/portfolio/blob/gh-pages/westermeier-07-ok.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Air Translater House" title="Air Translater House" /><span>Air Translater House</span></a></li>

  
    <li><a href="https://nancyuz.github.io/Nancy/2021/09/12/Nancy-2021FallStudio.html" title="Plug-in House"><img src="//images.weserv.nl/?url=&w=300&h=300&output=jpg&q=50&fit=cover" alt="Plug-in House" title="Plug-in House" /><span>Plug-in House</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/" title="Flexibility"><img src="//images.weserv.nl/?url=&w=300&h=300&output=jpg&q=50&fit=cover" alt="Flexibility" title="Flexibility" /><span>Flexibility</span></a></li>

    <li><a href="https://wuhaozhuo.github.io/Anita-Haozhuo-Wu/" title="The Cabin on the Peak"><img src="//images.weserv.nl/?url=https://github.com/WUHAOZHUO/Anita-Haozhuo-Wu/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="The Cabin on the Peak" title="The Cabin on the Peak" /><span>The Cabin on the Peak</span></a></li>

    <li><a href="https://kikili07.github.io/2021studio5/" title="Mundane Home"><img src="//images.weserv.nl/?url=https://images.adsttc.com/media/images/611a/7223/78d5/1f01/657f/6ece/slideshow/aerial-plan.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Mundane Home" title="Mundane Home" /><span>Mundane Home</span></a></li>

    <li><a href="https://vvvvvvvink.github.io/prtflio/" title="Never Constant"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/Vink's%20Collage.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Never Constant" title="Never Constant" /><span>Never Constant</span></a></li>

    <li><a href="https://jamie666666.github.io/prortfolio/" title="PROJECT NAME"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/01-EXTERIOR_%E5%AE%A4%E5%A4%96.jpg" alt="PROJECT NAME" title="PROJECT NAME" /><span>PROJECT NAME</span></a></li>

    <li><a href="https://lyh021.github.io/STUDIO-WORK//" title="Custome tiny house 01"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90523160/133258246-d49df5d5-a561-434e-85c4-6c9f36087964.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Custome tiny house 01" title="Custome tiny house 01" /><span>Custome tiny house 01</span></a></li>

    <li><a href="https://serafina1015.github.io/p-s/" title="Shared and private"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/master/assets/11648333-concrete-drainage-pipes-on-construction-site.jpg&w=300&h=300&output=png&q=50&fit=cover" alt="Shared and private" title="Shared and private" /><span>Shared and private</span></a></li>

    <li><a href="https://vickeyli.github.io/SparrowsHouse/" title="Sparrows House"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="Sparrows House" title="Sparrows House" /><span>Sparrows House</span></a></li>
  
</ul>
